@model IdentityRole

@{
    ViewBag.Title = "Role";
}

<h1> Roles assigned</h1>

    <table class="table table-sm table-bordered col-sm-8 mx-auto">
        <thead>
            <tr>
                <th>Role Id</th>
                <th>Role Name</th>
                <th></th>
            </tr>
        </thead>
       
            <tbody>
                <tr>
                    <td> @Model.Id</td>
                    <td>@Model.Name</td>
                    <td>
                        <form asp-controller="Administration" asp-action="DeleteRole">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger mt-5" />
                            <span class="btn mt-5">|</span>
                            <a asp-controller="Administration" asp-action="ListRoles" class="btn btn-link mt-5">Back to List</a>
                        </form>
                    </td>
                </tr>
            </tbody>
       
    </table>

